body {
    font-family: 'Fredoka';
    background: #F0F8FF;
    color: #1E201E;
}

h1 {
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
}

#settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

[type="number"] {
    border: none;
    background: #EAF1F6;
    border-radius: 25px;
    outline: none;
    width: 60px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}

input {
    margin-left: 15px;
}

.input, button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 20px;
}

label {
    font-size: 25px;
}

#word {
    outline: none;
    border: none;
    font-family: 'Fredoka';
    background: none;
    border-bottom: 2px solid #1E201E;
    font-size: 20px;
    height: 40px;
}

button {
    border: none;
    background: #E0E0E0;
    border-radius: 25px;
    width: 200px;
    height: 40px;
    font-size:25px;

    font-family: 'Fredoka';
    color: #1E201E;
}

#words {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
}

.word {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FEECE9;
    border-radius: 25px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 25px;
    font-size:25px;
    flex-direction: row-reverse;
}

.word-text {
    margin-right: 10px;
}

.delete-word {
    stroke: red;
}

.selected {
    background: #ffd0c7;
}